@import "tailwindcss";

:root {
  --main: #1c1c1e;
  --main-secondary: #10b981;
  --accent: #2a2a2e;
  --primary: #34d399;
  --dark: #0f0f10;
  --dark-secondary: #2a2a2e;
  --cta: #f59e0b;
}

@theme {
  --color-primary: var(--primary);
  --color-accent: var(--accent);
  --color-main: var(--main);
  --color-main-secondary: var(--main-secondary);
  --color-dark: var(--dark);
  --color-cta: var(--cta);
}


li::before {
  content: "→ ";
  color: var(--primary);
  font-size: 1rem;
  @apply mr-2;
}

#about li::before {
  color: #d1fae5;
}

.rotating-element-clockwise {
  
  animation: rotate-clockwise 30s linear infinite;
}

.rotating-element-counter-clockwise {
  animation: rotate-counter-clockwise 30s linear infinite;
}

@keyframes rotate-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes rotate-counter-clockwise {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}